 @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
 body {
     font-family: 'Poppins', sans-serif;
     background: #fafafa;
 }
 
 p {
     font-family: 'Poppins', sans-serif;
     font-size: 1.1em;
     font-weight: 300;
     line-height: 1.7em;
     color: #999;
 }
 #value{
     width: 25%;
     margin-left: 2%;
     margin-right: 2%;
     text-align: center;
 }
 a.qty {
    width: 100%;
    /* width: 5px; */
    /* height: -3px; */
    line-height: 1em;
    border-radius: 2;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    background: #43ace3;  
    color: #fff;
  }
 .pip{
    margin-left: -20; 
 }
 #toa{
     margin-left: 10%;
   
 }
 .col-qty > * {
    vertical-align: middle; 
  }
  
  .col-qty > input {
    max-width: 2.6em;
  }
 /* #cart{
     margin-left: -5%;
 } */
 .content{
     width: 60%;
     margin-left:40% ;
 }
 #row {
     width: 90%;
     margin-left: 5%;
 }
 
 #search {
     width: 530px;
 }
 
 a,
 a:hover,
 a:focus {
     color: black;
     text-decoration: none;
     transition: all 0.3s;
 }
 
 .navbar {
     padding: 15px 10px;
     background: #fff;
     border: none;
     position: fixed;
    top: 0%;
    z-index: 1020;
     border-radius: 0;
     margin-bottom: 40px;
     box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
 }
 
 .navbar-btn {
     box-shadow: none;
     outline: none;
     border: none;
 }
 
 .line {
     width: 100%;
     height: 1px;
     border-bottom: 1px dashed #ddd;
     margin: 40px 0;
 }
 
 .has-feedback {
     position: absolute;
     margin-left: 60%;
     margin-top: -0.7%;
 }
 
 .wrapper {
     display: flex;
     width: 100%;
     align-items: stretch;
     overflow-x: hidden;
 }
 
 span {
     color: #276fce;
     font-weight: bold;
 }
 
 #sidebarnav {
     min-width: 250px;
     overflow-x: hidden;
     margin-top: 1.6%;
     background: #ffffff;
     color: rgb(0, 0, 0);
     transition: all 0.3s;
 }
 
 #sidebar {
     min-width: 250px;
     max-width: 250px;
     background: #ffffff;
     color: rgb(0, 0, 0);
     transition: all 0.3s;
 }
 
 #sidebar.active {
     margin-left: -250px;
 }
 
 #sidebarnav.active {
     margin-right: -250px;
 }
 
 #sidebar .sidebar-header,
 #sidebarnav.slidebar-header {
     padding: 20px;
     color: #276fce;
     background: #ffffff;
 }
 
 #sidebar ul.components,
 #sidebarnav ul.components {
     padding: 20px 0;
     border-bottom: 1px solid #276fce;
 }
 
 #sidebar ul p,
 #sidebarnav ul p {
     color: #fff;
     padding: 10px;
 }
 
 #sidebar ul li a,
 #sidebarnav ul li a {
     padding: 10px;
     font-size: 1.1em;
     display: block;
 }
 
 #sidebar ul li a:hover,
 #sidebarnav ul li a:hover {
     color: #136bdd;
     background: #136bdd65;
     /* font-weight: bold; */
 }
 
 #sidebar ul li.active>a,
 #sidebarnav ul li.active>a,
 a[aria-expanded="true"] {
     color: #fff;
     background: #136bdd;
 }
 
 a[data-toggle="collapse"] {
     position: relative;
 }
 
 ul ul a {
     font-size: 0.9em;
     padding-left: 30px;
     background: #6d7fcc;
 }
 
 ul.CTAs {
     padding: 20px;
 }
 
 ul.CTAs a {
     text-align: center;
     font-size: 0.9em;
     display: block;
     border-radius: 5px;
     margin-bottom: 5px;
 }
 
 #content {
     width: 100%;
     padding: 20px;
     min-height: 100vh;
     transition: all 0.3s;
 }
 
 @media (max-width: 768px) {
     #sidebar {
         margin-left: -250px;
     }
     #sidebar.active {
         margin-left: 0;
     }
     #sidebarCollapse span {
         display: none;
     }
     #sidebar2 span {
         display: none;
     }
     #sidebarnav.active {
         margin-right: 0;
     }
 }